.middlebottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
}

.middlebottom-wrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  padding-top: 161px;
  padding-bottom: 180px;
  position: relative;
}

.middlebottom-title {
  color: #000;
  font-size: 38px;
  font-weight: 700;
  line-height: 70.3px;
  text-transform: capitalize;
  margin-bottom: 62px;
  width: 100%;
  max-width: 650px;
}

.middlebottom-title::after {
  content: "";
  position: absolute;
  width: 155px;
  height: 155px;
  background-image: url(../../assets//img/middlebottom1.png);
  top: 227px;
  left: 430px;
}

.middlebottom-description {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.112px;
  text-transform: capitalize;
  margin-bottom: 160px;
}

.middlebottom-text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.953px;
  text-transform: uppercase;
  width: 100%;
  max-width: 511px;
}

.middlebottom-img {
  width: 100%;
  max-width: 450px;
  position: absolute;
  left: 551px;
  top: 189px;
  z-index: -1;
}

.middle-insta_wrapper {
  position: absolute;
  top: 477px;
  left: 488px;
}

.middle-instaBox {
  position: relative;
}

.middle-insta {
  position: relative;
  width: 170px;
  height: 170px;
  animation: textRotation 10s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.middle-insta_icon {
  position: absolute;
  left: 55px;
  top: 53px;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .middlebottom-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
  }
  .middlebottom-title {
    font-size: 32px;
    line-height: 55px;
  }

  .middlebottom-description {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 90px;
  }

  .middlebottom-text {
    font-size: 18px;
    line-height: 26px;
  }
  .middlebottom-img {
    max-width: 400px;
    left: 580px;
    top: 188px;
  }
}

@media only screen and (max-width: 800px) {
  .middlebottom-wrapper {
    padding-top: 138px;
    padding-bottom: 60px;
  }

  .middlebottom-context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .middlebottom-title::after {
    top: 181px;
    left: 374px;
  }

  .middlebottom-description {
    margin-bottom: 10px;
  }

  .middlebottom-img {
    position: sticky;
    margin-bottom: 30px;
  }

  .middle-insta_wrapper {
    top: 543px;
    left: -22px;
  }
}

@media only screen and (max-width: 560px) {
  .middlebottom-title::after {
    /* background-image: url(../../assets//img/mobile-middlebottom.svg);
    width: 153px;
    height: 221px;
    top: 137px;
    left: 336px; */
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .middlebottom-title {
    width: 100%;
    max-width: 300px;
  }

  .middlebottom-title::after {
    left: 195px;
  }
}
