.hero {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/img/header-bg.png);
  background-repeat: no-repeat;
  background-position-y: 200px;
  background-position: center;
  /* height: 1200px; */
  z-index: 1;
}

.hero-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: "Lilita One", sans-serif;
  color: #000;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  max-width: 614px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.hero-description {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 83.5px;
  margin-bottom: 35px;
}

.hero-btn_box {
  position: relative;
  margin-bottom: 90px;
  /* z-index: 1; */
}

.hero-btn {
  font-family: "Lilita One", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 84px;
  color: #000;
  background-color: transparent;
  z-index: 9999;
  transition: 0.3s;
}

.hero-btn_box::before {
  content: "";
  position: absolute;
  width: 345px;
  height: 97px;
  background-color: #000;
  border-radius: 50px;
  z-index: -1;
  left: -61px;
  top: 5px;
}

.hero-btn_box::after {
  content: "";
  position: absolute;
  width: 345px;
  height: 97px;
  border-radius: 50px;
  border: 0.5px solid #000;
  background-color: #b2fce3;
  z-index: -1;
  left: -63px;
  top: -3px;
  transition: 0.3s;
}

/* .hero-btn_box:hover::after {
  animation: bounce2;
  transform: rotate(-6deg);
} */

.hero-btn_box:hover::after {
  animation: bounce2 1s;
  transform: rotate(-8deg);
}

@keyframes bounce2 {
  0% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  50%,
  80%,
  100% {
    transform: translateY(0);
    transform: rotate(-8deg);
  }
  40% {
    transform: translateY(-30px);
    transform: rotate(-15deg);
  }
  60% {
    transform: translateY(-15px);
    transform: rotate(-10deg);
  }
}

.hero-text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 30.953px;
  text-transform: uppercase;
  width: 100%;
  max-width: 750px;
  margin-bottom: 70px;
}

.hero-provide {
  color: #000;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 56.747px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 450px;
}

.hero-provide::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 93px;
  background-image: url(../../assets//img/hero-before.svg);
  top: 68px;
  left: -74px;
}
.hero-provide::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 240px;
  background-image: url(../../assets/img/hero-after.svg);
  top: 73px;
  left: 491px;
}

@media only screen and (max-width: 1000px) {
  .hero {
    background-image: url(../../assets/img/bg1000.svg);
    background-position-y: 272px;
  }
  .hero-description {
    position: relative;
    margin-bottom: 80px;
  }
  .hero-description::after {
    content: "";
    position: absolute;
    width: 970px;
    height: 380px;
    background-image: url(../../assets/img/home-desktop.svg);
    top: -42px;
    left: -450px;
    z-index: -1;
  }

  .hero-description::before {
    content: "";
    position: absolute;
    width: 970px;
    height: 340px;
    background-image: url(../../assets/img/home-dektop2.svg);
    top: 260px;
    left: -169px;
    z-index: -1;
  }

  .hero-title {
    font-size: 60px;
    margin-top: 0px;
  }
  .hero-description {
    font-size: 35px;
    line-height: 78px;
  }

  .hero-btn_box {
    margin-bottom: 0px;
  }

  .hero-btn {
    margin-bottom: 70px;
  }

  .hero-text {
    font-size: 20px;
    margin-bottom: 192px;
  }

  .hero-provide {
    font-size: 40px;
    line-height: 50px;
  }
  .provide-item {
    margin-right: 10px;
    padding: 60px 80px 100px 45px;
  }
}

@media only screen and (max-width: 800px) {
  .hero-provide {
    padding-bottom: 250px;
  }
}

@media only screen and (max-width: 560px) {
  .hero {
    background-position-y: 175px;
  }
  .hero-title {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .hero-description {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    width: 100%;
    max-width: 184px;
    margin-bottom: 176px;
    position: relative;
  }

  .hero-description::after {
    content: "";
    position: absolute;
    width: 546px;
    height: 200px;
    background-image: url(../../assets/img/mobile-top-home.svg);
    background-repeat: no-repeat;
    top: 65px;
    left: -187px;
  }
  .hero-description::before {
    content: "";
    position: absolute;
    width: 546px;
    height: 200px;
    background-image: url(../../assets/img/mobile-bottom-home.svg);
    background-repeat: no-repeat;
    top: 298px;
    left: -159px;
    z-index: -1;
  }

  .hero-btn {
    font-size: 24px;
    line-height: normal;
    padding-top: 15px;
  }
  .hero-btn_box {
    margin-bottom: 200px;
  }
  .hero-btn_box::before {
    width: 240px;
    height: 68px;
  }
  .hero-btn_box::after {
    width: 240px;
    height: 68px;
  }

  .hero-text {
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 435px) {
  .hero {
    background-position-y: 210px;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    background-position-y: 240px;
  }
  .hero-description::after {
    top: 70px;
    left: -162px;
  }
  .hero-description::before {
    top: 294px;
    left: -189px;
  }

  .hero-text {
    font-size: 18px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 80px;
  }

  .hero-provide {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
  }
  .hero-provide::before {
    width: 50px;
    height: 54px;
    background-image: url(../../assets/img/mobile_hero-left.svg);
    top: 62px;
    left: -34px;
  }
  .hero-provide::after {
    width: 120px;
    height: 121px;
    background-image: url(../../assets/img/mobile-hero-right.svg);
    top: -83px;
    left: 204px;
  }
}
