.hero {
  width: 100%;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 1200px;
  z-index: 1;
}

.hero-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: "Lilita One", sans-serif;
  color: #000;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  max-width: 614px;
  margin-bottom: 5px;
  margin-top: 80px;
}

.hero-description {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 83.5px;
  margin-bottom: 35px;
}

.hero-btn_box {
  position: relative;
  margin-bottom: 90px;
  /* z-index: 1; */
}

.hero-btn {
  font-family: "Lilita One", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 84px;
  color: #000;
  background-color: transparent;
  z-index: 9999;
  transition: 1s;
}

.hero-btn_box::before {
  content: "";
  position: absolute;
  width: 345px;
  height: 97px;
  background-color: #000;
  border-radius: 50px;
  z-index: -1;
  left: -61px;
  top: 5px;
}

.hero-btn_box::after {
  content: "";
  position: absolute;
  width: 345px;
  height: 97px;
  border-radius: 50px;
  border: 0.5px solid #000;
  background-color: #b2fce3;
  z-index: -1;
  left: -63px;
  top: -3px;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: translateY(-8px);
}
.hero-btn_box:hover::after {
  transform: rotate(-6deg);
}

.hero-text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 30.953px;
  text-transform: uppercase;
  width: 751px;
  margin-bottom: 70px;
}

.hero-provide {
  color: #000;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 56.747px;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 80px;
}

.hero-provide::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 93px;
  background-image: url(../../assets//img/hero-before.svg);
  top: 68px;
  left: -74px;
}
.hero-provide::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 240px;
  background-image: url(../../assets/img/hero-after.svg);
  top: 73px;
  left: 491px;
}

.provide-list {
  display: flex;
}

.provide-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1px;
  padding: 68px 85px 112px 52px;
  margin-right: 30px;
}

.provide-item:last-child {
  margin-right: 0px;
}

.provide-icon {
  padding-bottom: 50px;
}

.provide-text {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.33px;
  width: 173px;
}

.item1 {
  transform: translateY(100px);
}

.item2 {
  transform: translateY(20px);
}

.item3 {
  transform: translateY(200px);
}
